/* burgeri */


.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;

	@media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #b6b3ab;
	padding-top: 120px;
	transition: 0.4s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color:#f7f8f9;
    border-radius: 5px;

	color: #182743;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #182743;
    color: #f7f8f9;
    transition: 1s;
}



@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}



header {
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background-color: #182743;

}

.container {
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}



.container-h {
    color: inherit;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
    color: #f7f8f9;
}


.container-h-sp{
    font-weight: 600;
}

.nav-a{
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    color: #f7f8f9;
    border-bottom: 2px solid transparent;
}

.nav-a:hover{
    border-bottom: 2px solid #FFFFFF;
    transition: 0.2s;
}



.header-nav{
    display: grid;
			grid-gap: 30px;
			grid-template-columns: repeat(5, auto);

			@media (max-width: 767px) {
				display: none;
			}
}



.nav-item{
    background-color: #F84646;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
}

.nav-item:hover{
    color: black;
    background-color: #FFFFFF;
    transition: 1s;
}






/* produqtebi */

.main-h{
    display: flex;
    justify-content: center;
    margin: 65px 0 0 0;
    font-weight: 800;
    font-size: 36px;
    line-height: 49.18px;
}

.main-p{
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    height: 109px;
    align-items: center;
    text-align: center;
}

#products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

.section-h{
    opacity: 0.8;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
}

.section-p{
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8px;
} 


.buy{
    margin-top: auto;
    background-color: rgb(234, 54, 4);
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
    cursor: pointer;
}

.buy:hover{
    transition: 0.15s;
    opacity: 0.8;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: start;
    margin: 60px 60px;

    max-width: 12rem;
}


.img-span{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.section-img{
    width: 100%;
    object-fit: contain;
}

@media all and (min-width: 768px) {
    .main-h{
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
    }

    .main-p{
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        letter-spacing: 0.2px;
    }

    .mian-div{
        margin: 0 58px 0 58px;
    }

    .mian-div-2{
        margin: 120px 0 71px 0;
    }

    .img-span{
        display: flex;
        justify-content: center;
    }
}


@media all and (min-width: 1024px) {
    .main-h{
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
    }

    .main-p{
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        letter-spacing: 0.2px;
    }


}



  /* accordion */


#container {
    padding-inline: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin: 0 0 50px 0;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        padding-inline: 6rem;
    }
}


.accordion-title {
    position: relative;
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    color: #24292c;
}
.accordion-title::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all 2s;
}
.content {
    height: 0;
    overflow: hidden;
    /* width: 100%; */
    transition: all 2s;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 0 0;
  
}
.accordion-element {
    width: 100%;
    max-width: 450px;
    margin-bottom: 25px;
    border: 2px solid  #182743;
    padding: 15px;
}
.accordion-element.active .content {
    height: 120px;
}
.accordion-element.active .accordion-title::before {
    content: '-';
}


.container-text-accord{
    font-weight: 500;
    font-size: 55px;
    line-height: 25px;
}
  
.container-text-accord2{
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    margin: 60px 0 0 0
}
  
.container-text-accord3{
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    margin: 30px 0 0 0
}



@media (max-width: 768px) {
    .container-text-accord{
        font-weight: 500;
        font-size: 50px;
        line-height: 25px;
    }

}

@media (max-width: 480px) {
    .container-text-accord{
        font-weight: 300;
        font-size: 40px;
        line-height: 15px;
    }

    .container-text-accord2{
        font-weight: 200;
        font-size: 12px;
        line-height: 14px;
        margin: 45px 0 0 0
    }

    .container-text-accord3{
        font-weight: 200;
        font-size: 12px;
        line-height: 14px;
        margin: 25px 0 0 0
    }
}


.accordion-container{
    margin: 100px 0 0 0;
}
  






/* footer */

footer{
    width: 100%;
    background-color: #182743;
}

.footer-div-a{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    max-width: 259px;
}


.footer-div-list-a{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #f7f8f9;
    max-width: 259px;
}

.footer-span{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 259px;
    margin: 124px 0 77px 20px;
}


.footer-div-list{
    margin: 49px 0;
}

.footer-div{
    padding: 80px 0 0 20px;
} 


@media all and (min-width: 1024px) {
    /* footer */

    .footer-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-div-1{
        margin-left: 61px;
    }
    
    .footer-div-2{
        margin: 20px 49px;
    }

    .footer-div-3{
        margin: 0 49px;
    }
    .nav-div-list-a:hover{
        color: red;
    }

    .abc{
        margin: 0 0 87px 0;
    }


    }







/* top */

html {
    scroll-behavior: smooth;
}


.progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
  


  
/* cookies */

.cookie-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.cookie-popup button {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.accept-btn {
    background-color: #4caf50;
}
.reject-btn {
    background-color: #f44336;
} 





/* slider */
.slider-img{
    display: block;
    object-fit: cover;
    height: 600px;
    width: 100%;
}


.splide{
    width: 80%;
    height: 600px;
    overflow: hidden;
}


.splide-section{
    display: flex;
    justify-content: center;
    margin: 150px 0 200px 0;
}